:root {
  --first-color: #8415c9;
  --second-color: #fff;
  --third-color: #d9d9d9;
  --forth-color: #fdbd23;
  --fifth-color:#201e20;
  --sixth-color:#f8f8f8;

  --hover-navbar-color: #201e20;

  --box-shadow-service: 0 8px 24px rgb(167, 61, 234);
  --box-shadow-button: 0 8px 24px rgba(32, 14, 43, 0.733);

  --biggest-font-size: 3rem;
  --bigged-font-size: 2.7rem;
  --big-font-size: 2rem;
  --h3-font-size: 1.5rem;
  --h2-font-size: 2rem;
  --h1-font-size: 2.5rem;
  --normal-font-size: 1rem;
  --smaal-font-size: .5rem;
  --smaller-font-size: 0.813rem;

  --body-font: "Poppins", sans-serif;
  --header-title-font-size: 3.5rem;

  --mb-0-25: 0.25rem;
  --mb-0-5: 0.5rem;
  --mb-0-75: 0.75rem;
  --mb-1: 1rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  --mb-2-5: 2.5rem;
  --mb-3: 3rem;

  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 1000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--second-color);
  font-family: var(--body-font)
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

button {
  cursor: pointer;
}
button,
input {
  border: none;
  outline: none;
}

html {
  scroll-behavior: smooth;
}

hr{
  width: 100%;
  border: 0;
  border-bottom: 1px solid #ccc;
  margin: 20px auto;
}