:root {
  --first-color: #8415c9;
  --segund-color: #fff;
  --third-color: #d9d9d9;
  --forth-color: #fdbd23;

  --box-shadow-service: 0 8px 24px rgb(167, 61, 234);
  --box-shadow-button: 0 8px 24px rgb(32, 14, 43);

  --biggest-font-size: 3rem;
  --h3-font-size: 1.5rem;
  --h2-font-size: 2rem;
  --h1-font-size: 2.5rem;
  --normal-font-size: 1rem;
  --smaal-font-size: 0.813rem;
  --smaller-font-size: 0.813rem;

  --body-font: "Poppins", sans-serif;
  --header-title-font-size: 3.5rem;

  --mb-0-25: 0.25rem;
  --mb-0-5: 0.5rem;
  --mb-0-75: 0.75rem;
  --mb-1: 1rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  --mb-2-5: 2.5rem;
  --mb-3: 3rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--segund-color);
}

a {
  text-decoration: none;
}

.img {
  max-width: 100%;
  height: auto;
}

li {
  list-style: none;
}

button {
  cursor: pointer;
}
button,
input {
  border: none;
  outline: none;
}

.container {
  max-width: 1024px;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.grid {
  display: grid;
}
.section {
  padding: 120px 14%;
}


.h1{
  color: #8415c9;
}