.container {
  max-width: 1204px;
  margin-inline: 1.5rem;
}

/* @media screen and (min-width: 320px) {
  .container {
    margin-inline: 1.5rem;
  }
} */

@media screen and (min-width: 1440px) {
  .container {
    margin-inline: auto;
  }
}


.img {
  max-width: 100%;
  height: auto;
}

.grid {
  display: grid;
  gap: 1.5rem;
}
.section {
  padding-block: 5rem 2rem;
}

.sectiontitle {
  text-align: center;
  font-size: 2rem;
}
@media screen and (min-width: 320px) {
  .sectiontitle {
    font-size: 1.5rem;
  }
}
.sectionsubtitle {
  text-align: center;
  position: relative;
  color: #8415c9;
  font-size: 2rem;
}

.sectiondescription {
  text-align: center;
  max-width: 600px;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 3rem;
}
@media screen and (min-width: 1024px) {
  .section {
    padding-block: 7rem 4rem;
  }
}
@media screen and (min-width: 768px) {
  .section {
    padding-block: 7rem 6rem;
  }
}
